/* Entire app */

body {
  background-image: linear-gradient(to bottom left, rgb(64, 80, 126), rgb(39, 49, 81));
  font-family: 'Mukta', sans-serif;
  height: 100vh;
}





/* Header */

.header {
  background-image: linear-gradient(to right, rgb(39, 49, 81), rgb(58, 70, 111));
  box-shadow: 3px 3px 3px rgb( 39, 49, 81);
  color: rgb(147, 163, 222);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}





/* Messages */

.messages {
  height: calc(100vh - 120px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(72, 89, 142);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 163, 222);
}





/* Message */

.message {
  padding: 20px 30px;
}

  .message table {
    width: 100%;
  }

    .message .message--float-left { float: left; }
    .message .message--float-right { float: right; }

    .message .message--margin-left { margin-left: 10px; }
    .message .message--margin-right { margin-right: 10px; }

    .message img,
    .message .message__icon {
      width: 50px;
    }

    .message .message__icon {
      color: rgb(147, 163, 222);
    }
    
    .message .message__content {
      background-color: rgb(72, 89, 142);
      box-shadow: 2px 2px 50px rgb(39, 49, 81);
      color: white;
      font-weight: bold;
      font-size: 15px;
      padding: 5px 10px;
      border-radius: 100px;
    }

    



/* Form */

.form {
  height: 70px;
  padding: 20px 30px;
  display: flex;
  border-top: 1px solid rgb(58, 70, 111);
}

  .form input,
  .form button {
    font-weight: 600;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  .form input {
    background-image: linear-gradient(to bottom left, rgb(72, 89, 142), rgb(84, 101, 161));
    color: white;
    height: 30px;
    flex-grow: 1;
    margin-right: 20px;
    padding: 0 10px 0;
  }

    .form input::placeholder {
      color: rgb(147, 163, 222);
    }

  .form button {
    width: 50px;
    background-color: rgb(108, 135, 224);
    color: white;
  }