body {
  background-color: rgb(69, 40, 66);
  font-family: 'Mukta', sans-serif;
  height: 90vh;
}

header {
  height: 45px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(85, 57, 82);
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
}

table {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img, .fontIcon {
  width: 50px;
  margin: 0.5rem;
  color: rgb(180, 161, 178);
}

.message-content {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgb(85, 57, 82);
  border-radius: 1rem;
  color: white;
  font-weight: bold;
}

form {
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

input {
  margin-right: 1rem;
  height: 30px;
  border: 3px solid rgb(85, 57, 82);
  background-color:rgb(85, 57, 82);
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

input::placeholder {
  color: rgb(131, 108, 129);
}

input:focus {
  outline: 2px solid rgb(180, 161, 178);
}

button {
  background: rgb(85, 57, 82);
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(131, 108, 129);
}

button:hover {
  color: rgb(180, 161, 178);
  border: 2px solid rgb(180, 161, 178);
}

button:focus {
  outline: none;
}